/* Styling of API data elements */

.api-preliminary {
	font-style : italic;
}

.api-deprecated {
	text-decoration : line-through;
}

.api-value-type {
	color : green;
}

.api-class-name {
	color : green;
}

.api-member-name {
	font-weight : bold;
	color       : rgb(65,85,65);
}

.api-class-icon,
.api-member-icon,
.api-enum-icon,
.api-enum-item-icon {
	display        : inline-block;
	vertical-align : text-bottom;
	height         : 16px;
	width          : 16px;
	margin-right   : 4px;
}

table .api-class-icon,
table .api-member-icon,
table .api-enum-icon,
table .api-enum-item-icon {
	margin-right : 0px;
}

.api-class-icon {
	background-image : url('icon-explorer.png');
}
/* background-position sets icon offset */

.api-member-icon {
	background-image : url('icon-objectbrowser.png');
}
/* background-position sets icon offset */

.api-enum-icon {
	background-image    : url('icon-objectbrowser.png');
	background-position : -144px;
}

.api-enum-item-icon {
	background-image    : url('icon-objectbrowser.png');
	background-position : -160px;
}

.api-argument {
	white-space : nowrap;
}
